/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ott-2015, 22.32.30
    Author     : A.Piras
    */

    .container{
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
    }


    .dash_min_height{
      min-height: 600px;
    }

    /*dashboard*/


    .portlet {
      margin: 0 1em 1em 0;
      background-color: #fff;
      /*same of class shadow-z-3*/
     box-shadow:
       0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .portlet-header {
      padding: 0.2em 0.3em;
      margin-bottom: 0.5em;
      position: relative;
      background-color: #2572AF;
      color: white;
    }
    .portlet-toggle {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
    }
    .portlet-content {
      padding: 0.4em;
    }
    .portlet-placeholder {
      border: 1px dotted black;
      margin: 0 1em 1em 0;
      height: 50px;
    }



    .menu .portlet{

      width: 5em;
      overflow: hidden;
    }

    .menu .portlet .portlet-content{
      display: none;
    }

    .menu .portlet .portlet-header span{
      display: none;
    }


    .showBorders{
      border: 2px dashed #6EB4E6;
      min-height: 5em;
      min-width: 5em;
    }

    /*--------------------------------------------------*/
    /*icons*/


/*icone interessanti:

https://www.iconfinder.com/search/?q=chart
*/

.icon-pie{
  border: 3px solid rgba(0, 0, 0, 0.55);
  padding: 7px;
  border-radius: 5px;
  font-size: 3em;
  background-color: rgba(0, 188, 212, 0.17);
  color: rgba(255, 0, 22, 0.38);
}

/*header*/

header{
  background-color: #D0D0D0;
  min-height: 4em;
  overflow: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);
  background-color: rgba(255, 255, 255, 0.960784);
}

.user-name{
  font-size: 20px;
  color: #394A59;
}

.user-info {
  float: right;
  padding: 0.4em;
  padding-right: 1em;
}

.inline{
  display: inline;
}

.logo{
  border-bottom:  1px solid white;
  min-height: 4em;
}

.no_padding {
 padding: 0 !important;
 margin: 0 !important;
}


.marchio{
  margin:0;
  display: inline;
  padding-top: 1.5em;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 100;
}

.color1{
  color: #B2D5F3;
}

.color2{
  color: #EEEEEE;
}

.logo-content{
  line-height: 4em;
  padding-left: 0.5em;
}


.title-widgets{
  font-weight: 100;
  font-size:  1.2em;
  color: rgb(238, 238, 238);
}



/*menu*/

.divSplash{
  background-color: rgba(94, 93, 101, 0.35);
  overflow: auto;
  height: 600px;


}
/*added*/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.menu{
  background-color: #394A59;
  padding:0.5em;
  background-image: url("../../map2.jpg");
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  background-repeat: repeat-x;
  animation: animatedBackground 29s linear infinite;

}



/*.dragging-element{
  width: 33% !important;
  background-color: red !important;
}*/


/*ON DRAGGING*/
.ui-sortable-helper{
  max-width: 25em !important;
   box-shadow:
    0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
     /*transition: all ease 0.1s;*/
}

/*ON DRAGGING, INITIAL POSITION (VOID SPACE)*/
.portlet-placeholder{
  background-color:transparent;
  border: 0px !important;
}
