/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ott-2015, 22.32.30
    Author     : A.Piras
    */

/*
color palette

1) #0277BD  / #2572AF 

2)#B2D5F3 

3)#E1F5FE

*/

/*main backgroud color

1)#EEEEEE  / #F5F5F5


*/

body {
  background-color: #F5F5F5;
}



.container{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}


.dash_min_height{
  min-height: 600px;
}

/*dashboard*/


.portlet {
  width: 100%;
  /*display: table;*/
  margin: 0 1em 1em 0;
  background-color: #fff;
  /*same of class shadow-z-1*/
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.portlet-main{
 /*display: table-cell;*/
 /*vertical-align: middle;*/
 width: 100%;
}

/*   .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    background-color: transparent;
    color: white;
    background-color: #2572AF;
    }*/

    .portlet-header {
      padding: 0.2em 0.2em;
      position: relative;
      color: #2572AF;
      font-size: 1.5em;
      font-weight: 500;

/*
      background-color: rgb(222, 238, 238);
      transition*/: all ease 0.3s;


      background: rgb(222, 238, 238);
      background: -webkit-linear-gradient(#2876b2, #549ad0);
      background: -moz-linear-gradient(#2876b2, #549ad0);
      background: -o-linear-gradient(#2876b2, #549ad0);
      /*background: linear-gradient(rgb(222, 238, 238) 50%, #549ad0 50%);*/
      background: linear-gradient(rgba(222, 238, 238, 0.5) 50%, #549ad0 50%);
      background-repeat: repeat;
      -webkit-background-size: 100% 201%;
      -moz-background-size: 100% 201%;
      background-size: 100% 201%;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;


    }

    .portlet:hover .portlet-header{
      color: #ffffff;
      /*background-color: #2572AF;*/
      background-position: 0 -100%;
      height: auto;
      visibility: visible;
    }



    /*dropdown background*/


    .headerDdwn_bg{
     background: #2876b2;
     background: -webkit-linear-gradient(#2876b2, #549ad0);
     background: -moz-linear-gradient(#2876b2, #549ad0);
     background: -o-linear-gradient(#2876b2, #549ad0);
     background: linear-gradient(#2876b2, #549ad0);
     background-repeat: repeat;
     -webkit-background-size: 100% 200%;
     -moz-background-size: 100% 200%;
     background-size: 100% 200%;
     -webkit-transition: all .5s linear;
     -moz-transition: all .5s linear;
     -o-transition: all .5s linear;
     transition: all .5s linear;
   }

   .box:hover .headerDdwn_bg{
     background-position: 0 -102%;
   }


   /*END dropdown background*/


/*
  .portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
    background-color: transparent;
    color: white;
    background-color: #2572AF;
    }*/






/*  .portlet-header:hover{
    background-color: #2572AF;
    cursor: pointer;
    height: auto;
    transition: all ease 0.5s;
    }*/

    .portlet-toggle {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
    }
    .portlet-content {
      padding: 1em;
      overflow: visible;
    }

    .widgetMap .portlet-content{
     padding: 0;
   }

   /*MENU Start*/
   .menu .portlet{
    margin: 0 0px;
    margin-left: 1em;
    margin-right: 1em;
    /* position: static; */
    width: auto;
    display: block;
  }


  .menu .portlet .portlet-header{
    background: rgba(70, 80, 93, 0.52);
    height: 5em;
    line-height: 5em;
    padding-left: 5px;
    color: white;
    padding: 0.1em 0em;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 1em;
  }

  .menu .portlet .portlet-content{
    display: none;
  }

 /* .menu .portlet .portlet-header span{
    display: none;
    }*/

    .menu .portlet-placeholder{
      height: 3em;
      background-color:transparent;
      border: 5.5px dashed blue
    }

    .menu .portlet-placeholder:after{
      height: 3em;
      background-color:transparent;
      border: 5.5px dashed blue
    }

    .widgetTilte{


    }


/*.menu .widgetTilte{
    line-height: 5em;
    display: inline;
    float: right;
    padding: 0 1em;
    }*/

    .menu .widgetTitleText{
      font-size: 21px;
      font-weight: 600;
      text-shadow: 0.5px 0.5px black;
    }


    .widgetIcon{
      display: none;
    }


    .menu .widgetIcon{
      display: inline;
      vertical-align: middle;
      padding: 0.3em;
      border-radius: 5px;
      font-size: 2em;
      background-color: rgb(37, 114, 175);
      box-shadow: 0.5px 0.5px black;
    }
    /*end menu*/


    .showBorders{
      border: 2px dashed #6EB4E6;
      min-height: 200px;
      min-width: 5em;
      /*transition: all ease 1s;*/
    }

    /*--------------------------------------------------*/
    /*ICONS*/


/*icone interessanti:

https://www.iconfinder.com/search/?q=chart
*/





/*header*/

header{
  background-color: #D0D0D0;
  min-height: 4em;
  overflow: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);
  background-color: rgba(255, 255, 255, 0.960784);
}

.user-name{
  font-size: 20px;
  color: #394A59;
}

.user-info {
  float: right;
  padding: 0.4em;
  padding-right: 1em;
}

.inline{
  display: inline;
}

.logo{
  border-bottom:  1px solid white;
  min-height: 4em;
}

.no_padding {
 /* padding: 0 !important; */
 /* margin: 0 !important; */
}


.marchio{
  margin:0;
  display: inline;
  padding-top: 1.5em;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 100;
}

.color1{
  color: #B2D5F3;
}

.color2{
  color: #EEEEEE;
}

.logo-content{
  line-height: 4em;
  padding-left: 0.5em;
}


.title-widgets{
  font-weight: 100;
  font-size:  1.2em;
  color: rgb(238, 238, 238);
  margin-bottom: 2em;
  text-align: center;
}



/*menu*/

.divSplash{
  background-color: rgba(94, 93, 101, 0.35);
  overflow: auto;
  height: 100%;

}
/*added*/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.menu{
  background-color: #394A59;
  height: 100%;
  /*padding:0.5em;*/
  /*background-image: url("../../map2.jpg");*/
  /*background-position: 50% 50%;*/
  /*background-size: cover;*/
  color: white;
  /*padding-bottom: 1000px;*/
  /*margin-bottom: -1000px;*/
  /*background-repeat: repeat-x;
  animation: animatedBackground 29s linear infinite;*/
  text-align: center;
}

/*.dragging-element{
  width: 33% !important;
  background-color: red !important;
  }*/


  /*ON DRAGGING*/
  .ui-sortable-helper{
    max-width: 50em !important;
    box-shadow:
    0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
    /*transition: all ease 0.1s;*/
  }

  /*ON DRAGGING, INITIAL POSITION (VOID SPACE)*/
  .portlet-placeholder{
    height: 200px;
    color: red !important;
    background-color:transparent;
    border: 2.5px dashed blue
  }


  .portlet-placeholder:after{
    height: 200px;
    color: red !important;
    background-color:transparent;
    border: 2.5px dashed blue

  }


  .width50{
    width: 50%;
  }


  /*TILES*/

  .widget_Tile_main{
    display: table;
  }
.widget_Tile_main .portlet-content{
  padding-top: 2em;
}


  .widget_Tile_Content{
    display: table-cell;
    vertical-align: middle;
  }



  .widget_Tile_left{
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 1em 0;
    display: inline-block;
  }

  .widget_Tile_right{
   color: #ffffff;
   display: inline-block;
   padding: 1em 0;

   border-left: 1px solid rgba(255, 255, 255, 0.75);
   text-align: center;

 }

 .tile_total{
  font-size: 34px;
  font-weight: 700;
}

.tile_text{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}


.portlet:hover{
  transition: all ease 0.2s;
  /*.shadow-z-1-hover*/
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/*TOOLTPITS*/

.tooltips {
  position: relative;
}
.tooltips span {
  padding: 0 0;
  position: absolute;
  width: 8em;
  color: #FFFFFF;
  background: #c1c1c1;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden; 
  border-radius: 0px;
  font-size: 1em;
  top: 1em;
}
.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  left: 0%;
  margin-left: -18px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-right: 12px solid #c1c1c1;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
}
:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  text-shadow: none;
  font-family: arial;
}



/*SHOW TEMPLATE EYE*/
#showBordersButton{
  visibility: hidden;
}
#showBordersButton + label {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 90% !important;
  background-color: rgba(180, 216, 233, 0.68) !important;
  color: #ffffff;
} 
#showBordersButton:checked + label {
  color: rgb(37, 114, 175) !important;
  background-color: #ffffff !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important; 
} 
#showBordersButton:hover + label {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
} 
.icon_eye{
  padding: 0.1em 0.5em;
}


.showTemplateContainer{
  float: right;
  margin: 1em;
}

/*SHADOWS*/
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}



/*main layout*/
.main_right_content{
  /* margin-left: 16% !important; */
  /*width: 84%;*/
  padding: 0;
}

.main_left_content{
  height: 100%;
  position: fixed;
  /* width: 16%; */
  padding: 0;
}


.large_widget .portlet{
  min-height: 318px !important;
}

.medium_widget .portlet{

  min-height: 318px !important;
}
.small_widget .portlet{
height: 318px;
  /*min-height: 200px !important;*/
}


.small_widget .widget_Tile_main{
  height: 153px;
}

.x_small_widget .portlet{

  min-height: 200px !important;
}





/*MEDIA QUERIES*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width:  992px) { 



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:  1200px) {


}

/* Large devices (large desktops, 1200px and up) */
/*@media (max-width:  767px) {
  .main_left_content{
    position: static;
  }
  }*/












  /*widget circles*/

  .border_success{
   border-color: #4caf50 !important;
 }


 .border_medium{
   border-color: #307bbb !important;
 }

 .border_warning{
   border-color: #ff5722 !important;
 }

 .border_error{
   border-color: #f44336 !important;
 }




 .bg_red{
  background-color: #FB5651;
}


.bg_blue{
  background-color: #63A3DF;
}


.bg_green{
  background-color: #1CC09F;
}


/*.draggable{
  min-height: 200px;
  }*/

  .draggable_min_height{
    min-height: 200px;
  }


  /*drag and drop icon*/

  .portlet-content:hover{

    /*cursor: pointer;*/

  }

  .portlet:hover{
   /* disabled on 20/01
   cursor: -webkit-grab; cursor: -moz-grab;*/
 }


/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*/


.menu .widgetHeadLeft{
  width: 40%;
  float:left;
}

.menu .widgetHeadRight{

  width: 60%;
  float:left;
}


/*.percent:before{
content: "%";
}*/


.fa:before{

  text-shadow: 3px 2px 0px rgba(0,0,0,0.30);
}

.x_small_widget .portlet-header{
  text-align: center !important;
}

.small_widget .portlet-header, .large_widget .portlet-header, .medium_widget .portlet-header{
  text-align: left !important;
  padding-left: 0.5em;
}

body, html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursorGrap{
  cursor: grab;

}

.widget_Tile_main .portlet-header{
  visibility: hidden;
  /*height: 0;*/
  /*padding: 0;*/
}

.widget_Tile_main:hover .portlet-header{
  display: table-header-group;
}

.widget_Tile_main .portlet-header:hover{
  display: table-header-group;
}

.menu .widget_Tile_main .portlet-header{
 display: block;
}

.menu .widget_Tile_main{
  display: block;
}





/**REFACTOR**/
/*refactor widgetstructure*/
.portlet-header{
 text-align: left;
 padding-left: 0.5em;
 position: absolute;
 top: 0;
 z-index: 9999;
 width: 100%;
 cursor: grab;
 cursor: pointer;
}

.portlet-content {
  padding: 1em;
  overflow: visible;
  position: relative;
  padding-top: 4em;
}

.contenitoreMap{
  min-height: 318px !important;
}

.portlet{
  position: relative;
}

.menu .portlet .portlet-header {

  text-align: center;

}


.gmnoprint{
  margin-top: 4em !important;
}


.move:hover{
  cursor: -webkit-grab; 
  cursor: -moz-grab;
}



.menu .widget_Tile_main .portlet-header{
  visibility: visible;
}

/*cross browser compatibility*/
/*
.main_right_content{
  margin:0 !important;
}

.container {
  width: 100%;
  }*/


  .logoHeader{
    float: left;
    display: none;
  }

  /* Small devices (tablets, 768px and up) */
  @media (max-width: 768px ) {
    .logoHeader{
      float: left;
      display: block;
    }
.user-info{
   display: none;
}

.logoMenu{
 display: none; 
  }

  .menu .portlet{
    margin: 0;
  }

  .showBordersMobile{
border: 2px dashed #6EB4E6;
      min-height: 200px;
      min-width: 5em;
  }

}




